
body {
    background-image: url(/images/PFG_BG.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
.search:hover {
    background-color: #003e6c;
}


    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        #acgLogo {    
            width: 80px;
            padding-top: 6%;
        }
        h2 {
            font-size: 1.0em;
            font-family: 'Kanit', sans-serif;
            color: #ffffff;
        }
        body {
            margin-bottom: 62px !important;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        #acgLogo {    
            width: 80px;
            padding-top: 6%;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        #acgLogo {
            width: 150px;
            padding-top: 2%;
        }
        h2 {
            font-family: 'Open Sans', sans-serif;
            color: #ffffff;
            font-size: 1.5em;
        }
    }