body {
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size: 14px;
    line-height: 17px;
    cursor: default;
    background-color: white;
    color: #444444;
}

* {
    text-decoration: none;
}

div {
    margin: 0 auto;
}

div img, div input[type=image] {
    width:100%;
}

a {
    text-decoration: none;
    color: #ac0a0a;
}

a:hover {
    text-decoration:underline;
}

h1 {
    color: #9e2626;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    position: relative;
    top: 9px;
    margin-top: 15px;
}

    h1 span {
        color: #9e2626;
    }

h1 img{
    float: left;
    max-width: 27px;
    margin: 0 5px 0 0 !important;
}

    h1 a {
        text-decoration: none !important;
        color: #ffcc00;
    }

.blue {
    color:#384260;
}

h2 {
    color: #384260;
    font-size:18px;
    line-height:20px;
    margin: 10px 0;
    font-weight:700;
}

h3 {
    color:#384260;
    font-weight:700;
    margin:20px 0;
}

p {
    margin: 10px 0;
}

.ckedit ul, .ckedit ol { margin: 1.12em 0; margin-left: 19px;  margin-top: 0; margin-bottom: 0; display: block; unicode-bidi: embed; line-height:1.5em; }
.ckedit ul             { list-style-type: disc; }
.ckedit ol             { list-style-type: decimal }
.ckedit li             { display: list-item }
.ckedit strong         { font-weight: 700 }

#content .blueline {
    clear:both;
    border: 0; 
    height: 0; 
    border-top: 2px solid #384260;
    margin: 10px 0 14px;
}


.bold {
    font-weight:700;
}

#container {
    width:96%;
    max-width:1150px;
    overflow:hidden;
}

.headline {
    background-color: #ffcc00;
    text-align: center;
}

    .headline .header {
        padding: 5px 5px;
        color: #cc0000;
        font-size: 17px;
        font-weight: bold;
    }
#header {
    width: 100%;
    background-image: url(../images/contest_mobile_header.png);
    background-repeat: no-repeat;
    padding: 10px 0px;
    background-size: cover;
    background-position: right;
}
    .headline img {
        max-height:28px;
        width:93%;
        max-width:1038px;
        padding-top: 7px;
    }

    #container .signup {
        text-align: right;
        font-size: 14px;
        color: #1f73b4;
        max-width: 115px;
        float: right;
        padding-top: 20px;
    }

    #container .signup .fb {
        max-width: 28px;
        margin: 0;
        padding-right: 3px;
        margin-top: -4px;
    }

    #container .signup div {
        float: right;
    }

    #container .signup a {
        color: white;
        font-weight:bold;
    }

#header .logo {
    max-width: 240px;
    width: 60%;
    padding-top: 10px;
}
    #header .catbtn {
        vertical-align:top;
        margin: 0px auto;
    }
        #header .catbtn .arrow {
            max-width:120px;
            float:left;
            width: 60%;
            padding-left: 5px;
        }
        #header .catbtn .btn {
            max-width: 50px;
            float: left;
            margin-left: 25px;
            padding-top: 20px;
        }
    #header .greentext {
        font-size:22px;
        line-height:24px;
        color : #384260;
        font-weight:700;
        width:93%;
        margin: 6px auto;
        text-align:center;
    }

#categories {
    display:none;
    width:90%;
    max-width:311px;
}

#categories .categories_border {
    border: 1px solid #384260;
}

.ads_padding_top {
    padding: 20px 0;
    text-align: center;
    max-width: 728px;
    max-height: 120px;
}

.ads_padding_cat {
    padding: 10px 0;
    text-align: center;
    width:93%;
    clear: both;
}

.ads_padding_bottom {
    clear: both;
}

#categories .category_header {
    text-align: center;
    background-color: #ffcc00;
    padding: 10px 0 18px;
}

    #categories .category_header p {
        margin-bottom: 0;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        text-shadow: 0px 0px black;
        color: #cc0000;
    }
#categories .header {
    background-color: #14144a;
    /*text-align: center;
    padding-top: 10px;
    padding-bottom: 6px;*/
}
        #categories .header img {
        }

    #categories .list {

    }
        #categories .list a {
            margin-left:8px;
            display:block;
            font-size:13px;
            font-weight:700;
            color:#6a6a6a;
        }
        #categories .list a:first-of-type {
            margin-top:8px;
        }
        #categories .list a:last-of-type {
            margin-bottom:8px;
        }

.internal_ads_cat{
    width:90%;
    max-width:311px;
}

.internal_ads{
    width:93%;
}

.internal_ads_cat div, .internal_ads div{
    width:100%;
    padding: 0 0 10px;
}

#content {
}

#content a {
    text-decoration:underline;
}

#content img {
    margin: 10px auto;
    display:block;
}

#bottom {
    background-color: #cc0000;
    min-height: 41px;
    padding: 5px 0 0;
    text-align: center;
    margin-top: 15px;
}

    #bottom .top{
        padding-top: 10px;
    }

    #bottom .title {
        font-weight: 700;
        font-size: 17px;
        color: #fffe00;
        padding-top: 5px;
    }

    #bottom .bullets {
        font-size:16px;
        color:#fff;
        font-weight:700;
        margin:10px 0 0;
        /*padding-bottom: 10px;*/
    }

        #bottom .bullets div {
            display: inline-block;
        }

        #bottom .bullets span {
            color: #fffe00;
        }

    #bottom .copy {
        color:#fff;
        padding-bottom: 10px;
    }

        #bottom .copy a {
            color: #fffe00;
        }

.disclosure{
        color:#fff;
        font-size: 80%;
        margin:0 auto 5px;
        padding-top: 10px;
        line-height: 12px;
        max-width: 71%;
    }

#socialst div{
    padding: 5px 3px;
    float: left;
}

.clear{
    clear:both;
}

/*#header .house {
    display: none;
}
    #header .house img{
        display: block;
    }*/

.homeSections div{
    width: 98%;
    padding: 14px 0.9%;
}

.homeSections img{
    width: 100%;
    margin: unset !important;
}

.find{
    text-align: center;
    color: #d20000;
    font-weight: bold;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    font-size: 24px;
}

.header_quotes{
    float: right;
    padding-top: 40px;
    width: 52%;
    display:none;
}

.quotes{
    padding-top: 20px;
    color: #384260;
    font-weight: bold;
    font-size: 16px;
}

    .quotes ul{
        list-style: disc;
    }

    .quotes li{
        float: left;
        width: 45%;
        margin-left: 5%;
    }
.fb-page-bottom {
    display: block;
    max-width: 340px;
    margin-top:10px;
}
.fb-page-categrory {
    padding-top:15px;
}
.mobileOnly {
    display: block;
}

.desktopOnly {
    display: none;
}

@media only screen and (min-width: 310px) and (max-width:500px) {
    h1 {
        font-size:18px;
    }

    .ads_padding_cat {
        text-align:center;
        bottom: 0;
        width:95%;
        z-index:999;
        max-height: 200px;
        padding: unset;
    }

    .ads_padding_bottom {
        left:0;
        right: 0;
        margin: 0 auto;
        position: fixed;
        text-align:left;
        bottom: 0;
        width:95%;
        z-index:999;
        max-height: 200px;
        padding: unset;
    }
    #container .signup {
        font-size: 13px;
    }
    .fb a img {
        width: 80%;
        margin-top: 3px;
    }
}

@media (min-width:335px) {
    /*#header .logo {
        max-width:135px;
    }*/
}
    
@media (min-width:450px) {
    .homeSections div{
        float:left;
        width: 47.8%;
        padding: 14px 0.9%;
    }

    .headline .header{
        width: 80%;
        font-size: 20px;
    }
}

@media (min-width:600px) {
    .ads_padding_cat {
        width:40%;
    }

    #left {
        float:left;
    }

    .headline .header{
        width: 70%;
    }
}

@media (min-width:700px) {
    .headline .header{
        width: 80%;
    }
}
    
@media (min-width:750px) {
    #container {
        width:93%;
        max-width:1150px;
        overflow:hidden;
    }

    #header .logo {
        float: left;
        max-width: 375px;
    }

    #header .catbtn, #header .greentext {
        display:none;
    }

    #categories {
        display:block;
        float:left;
        margin-left:5px;
    }

    .internal_ads_cat{
        display:block;
        margin-left:5px;
    }

    #main {
        float:right;
        width:50%;
        border: 1px solid #384260;
    }
        #main hr {
            display:none;
        }
        #content hr {
            display:block;
        }


    .headline {
        text-align:center;
        padding: 5px 0;
    }

    .homeSections div{
        float: unset;
        width: 98%;
        padding: 14px 0.9%;
    }

    .header_quotes{
        display:block;
    }
    #header {
        background-image: url(../images/contest_header_1150.png);
        background-size: contain;
        background-repeat: no-repeat;
        max-width: 1150px;
        padding: 29px 0px;
        background-position: unset;
    }
    .mobileOnly {
        display: none;
    }

    .desktopOnly {
        display: block;
    }
}

@media (min-width:800px) {
    #categories {
        width:311px;
    }

    .internal_ads_cat{
            width:311px;
    }

    #main {
        width: -moz-calc(100% - 369px);
        width: -webkit-calc(369px% - 369px);
        width: -o-calc(100% - 369px);
        width: calc(100% - 369px);
        padding:5px 15px 15px 15px;
    }

    .ads_padding_cat {
        width:311px;
    }

    .headline .header{
        width: unset;
    }
}

@media (min-width:900px) {
    .homeSections div{
        float:left;
        width: 47.8%;
        padding: 14px 0.9%;
    }

    .header_quotes{
        width: 60%;
    }
}

@media (min-width:915px) {
    .headline .header{
        font-size: 22px;
    }
}

@media (min-width:1000px) {
    .headline .header{
        font-size: 24px;
    }
}

@media (min-width:1100px) {
    #container .signup {
        margin: 0;
        position: absolute;
        top: 10px;
        right: 18px;
        font-weight:normal;
        z-index:1000;
        padding-top: 0;
    }

        #container .signup a {
            color: #cc0000;
            font-weight: bold;
        }
}

@media (min-width:1225px) {
     .header_quotes{
        width: 42%;
        max-width: 480px;
    }

    /*#header .house {
        display: block;
        float: right;
        max-width: 327px;
    }*/
}