﻿.poll-title {
    height:30px;
    line-height:30px;
    background-color:#0EB2C3;
    border:solid 1px #0EB2C3; 
    width:304px;
    background-image:url(../images/icons/pollicon.jpg);
    background-repeat:no-repeat;
    background-position-x:7px;
    background-position-y:center;
}

.poll-title span {
    color:white;
    font-family: HelveticaThin;
    font-weight:normal;
    font-size:28px;
    line-height:30px;
    margin-left:40px;
    display:block;
}

.poll-box
{
	background: White;
    padding: 10px 0 0 0;
    width:300px;
    border:solid 1px #0EB2C3; 
}

.poll-question
{
	background: White; 
    color: Black; 
    font-weight:bold;
    /*
    border:solid 1px white; 
    */
    padding:0px;
    width:90%;
    margin-left:auto; 
    margin-right:auto;
    margin-bottom:10px;
}
.poll-total
{
	background:Whilte;
    color:Black;
    padding:3px;
    margin-bottom:2px;
    text-align:center;
    font-size:12px;
    /*
    border:solid 1px black;
    text-transform:uppercase;
    */
}
.poll-result
{
	font-size:12px;
    padding-left:4px; 
}
.poll-chart
{
	background: #555555;
    padding: 2px;
    height: 15px;
    overflow: hidden;
    vertical-align: middle;
    margin-bottom:2px;
}
.poll-choices {
    width:80%;
    margin-left:auto; 
    margin-right:auto;
}